/*
 * Globals
 */
html {
  font-size: 0.938em;
  /*15px*/
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}
body {
  font-family: "'Gill Sans'",Calibri, Helvetica, Arial, sans-serif;
  color: #000;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 1.333em;
}
p {
  font-weight: 300;
}
.field-content p,
.field-item p,
.contextual-links-region p,
.views-field-body .field-content div {
  font-size: 1.1em;
  line-height: 1.5em;
}
.front-profile-block .field-content p{background-color:#fff !important;padding:.5em !important;}
@media (min-width: 768px) and (max-width: 1024px) {
  p {
    font-size: 13px;
  }
}
h1,
h2,
h3 {
  font-weight: normal;
}
header {
  text-align: center;
  padding: 20px 0 10px;
}
@media screen and (min-width: 768px) {
  header {
    margin-top: 70px;
  }
}
img,
object,
iframe,
embed {
  max-width: 100%;
  height: auto;
  width: auto;
}
a,
a:visited {
  color: #95263a;
}
a:active,
a:hover {
  color: #000;
  text-decoration: underline;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
 * Layout
 */
@media (min-width: 768px) {
  .col-sm-7 {
    width: 60%;
  }
  .col-sm-4 {
    width: 30%;
  }
  .col-sm-offset-1 {
    margin-left: 10%;
  }
}
.container {
  position: relative;
}
.content-wrapper {
  width: 100%;
  margin-top: 47px;
}
#main-content,
.sidebar-content {
  float: left;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .content-wrapper {
    margin-top: 28px;
  }
  #main-content {
    padding: 0 20px;
    float: none;
  }
  .sidebar-content {
    float: none;
  }
  .sidebar-content img {
    display: block;
    margin: 0 auto;
  }
}
.sidebar-content .block {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .sidebar-content .block,
  .sidebar-content .node-block {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.node-news,
.node-expert,
.node-faculty-profile,
.node-student-profile {
  margin-top: 26px;
}
/*
 * Titles and Headings
 */
#page-title,
.sidebar-content h2,
#block-views-news_releases-block_1 h2,
#block-views-news_releases-block_2 h2,
.page-experts h3,
.page-node-74 h3 {
  color: #000000;
  border-bottom: 1px solid #000;
  font-size: 1.467em;
  line-height: 1.5;
  text-transform: uppercase;
}
#block-views-picture_gpc_block_4 .field-content a{
 /* background: #8D1A3D;*/
  color: #fff;
  font-size: 1.2em;
  position: relative;
  padding: 5px 20px;
  margin: 6px -20px 0;
}

#block-views-picture_gpc_block_4 .views-field-title span:after {
    background-image: url('../images/ribbons-small.png');
    height: 10px;
    width: 12px;
}
.profile-block .views-field-title span:before, 
.profile-block .views-field-title span:after,
.gpc-picture-block .views-field-title span:before, 
.gpc-picture-block .views-field-title span:after{
    background-image: url('../images/ribbons-small.png');
    height: 10px;
    width: 12px;
}


@media screen and (max-width: 1024px) {
  #page-title,
  .sidebar-content h2,
  #block-views-news_releases-block_1 h2,
  #block-views-news_releases-block_2 h2,
  .page-experts h3,
  #node-74 .node-title {
    font-size: 1.067em;
  }
}
.page-node-74 .node-title {
  display: none;
}
.listing-view-page .node-title {
  color: #000000;
  font-size: 2.133em;
  line-height: 1.1875;
  margin: -6px 0 13px 0;
  padding-top: 0;
}
.listing-view-page .node-title a {
  color: #000;
}
.listing-view-page .node-title a:hover {
  color: #95263a;
  text-decoration: none;
}
.node-title,
.page-news-in-brief .node-title,
.page-home .views-field-title a {
  color: #000000;
  font-size: 2.667em;
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .page-home .views-field-title a {
    font-size: 1.733em;
    line-height: 1.1875;
  }
  /*  .listing-view-page .node-title, 
  .node-title {
    font-size: 1.733em;
  }*/
}
@media screen and (max-width: 1024px) {
  .listing-view-page .node-title,
  .node-title {
    font-size: 1.333em;
  }
}
.view-top-stories .views-field-title a:hover {
  color: #95263a;
}
.view-top-stories .views-field-title {
  padding: 5px 0 10px;
}
/*
 * General Font styles
 */
nav a,
.btn {
  color: #fff;
  font-size: 0.867em;
  line-height: 2.5666;
  text-transform: uppercase;
  outline: 0;
}
.submitted {
  color: #9c7869;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .submitted {
    display: none;
  }
}
.more-link {
  float: right;
}
.node-readmore a,
.more-link a,
.back-link a {
  font-size: 1.067em;
  line-height: 1.5;
  text-transform: uppercase;
}
.node-readmore:before,
.more-link:before,
.node-type-picture-gpc .before,
.node-type-download-gallery .before,
.node-type-video-gallery .before {
  content: url(../images/more-arrow.png);
  padding-right: 5px;
}
@media (max-width: 1024px) {
  .node-readmore a,
  .more-link a,
  .node-type-picture-gpc .back a,
  .node-type-download-gallery .back a,
  .node-type-video-gallery .back a {
    font-size: 0.800em;
  }
  .node-readmore:before,
  .more-link:before,
  .node-type-picture-gpc .back:before,
  .node-type-download-gallery .back:before,
  .node-type-video-gallery .back:before {
    content: url(../images/more-arrow-sm.png);
    padding-right: 5px;
  }
}
/*
 * Fields
 */
.views-field-field-photo-caption,
.field-name-field-photo-caption,
.field-name-field-video-caption {
  color: #a2a2a2;
  font-size: 0.9em;
  line-height: 1.33333333333333;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .views-field-field-photo-caption,
  .field-name-field-photo-caption,
  .field-name-field-video-caption {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .field-name-field-photo-caption,
  .field-name-field-video-caption {
    float: none;
    text-align: left;
    width: 100%;
  }
}
.field-name-field-author {
  display: block;
  color: #000000;
  padding-bottom: 24px;
  margin-top: -12px;
  text-transform: capitalize;
}
@media screen and (max-width: 768px) {
  .field-name-field-author {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .field-name-field-author {
    font-size: 0.800em;
  }
}
.listing-view-page .field-name-field-photo {
  float: left;
  padding-right: 20px;
}
.listing-view-page .field-name-field-photo img {
  width: auto;
}
.listing-view-page .field-name-field-photo.video-thumb img {
  width: 170px;
}
@media screen and (max-width: 1200px) {
  .listing-view-page .field-name-field-photo {
    width: 38%;
  }
}
.listing-view-page .field-photo-1 {
  display: none;
}
.photo-info {
  margin-top: 10px;
}
.field-name-field-video-caption {
  position: absolute;
}
/*
 * Menus
 */
.tabs li,
.social-links .leaf,
.footer-links .leaf {
  position: relative;
  display: inline-block;
}
.main-menu {
  margin-top: 6px;
  padding-bottom: 10px;
}
.main-menu .menu {
  display: block;
  padding: 0;
  width: 100%;
}
.main-menu li {
  position: relative;
}
.main-menu li ul.menu {
  background-color: #fff;
  display: none;
  left: 0;
  padding-top: 5px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 100;
}
.main-menu li ul.menu li {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}
.main-menu li ul.menu a {
  background-color: #63b1e1 !important;
  margin-right: 5px;
}
.main-menu li:hover ul.menu {
  display: block;
}
@media (max-width: 768px) {
  .main-menu li ul.menu {
    display: block;
    position: static;
  }
  .main-menu li ul.menu a {
    margin-right: 0;
  }
}
.main-menu .leaf,
.main-menu .expanded {
  display: block;
  float: left;
  text-align: center;
  width: 16.66666667%;
}
.main-menu .first {
  display: none;
}
@media (max-width: 768px) {
  .main-menu .menu {
    display: block;
    table-layout: none;
  }
}
.main-menu .leaf:nth-child(2) a {
  background-color: #243472;
}
.main-menu .leaf:nth-child(3) a {
  background-color: #b76e29;
}
.main-menu .leaf:nth-child(4) a {
  background-color: #a4a86b;
}
.main-menu .leaf:nth-child(5) a,
.main-menu a[href*='gallery'] {
  background-color: #63b1e1;
}
.main-menu .leaf:nth-child(6) a {
  background-color: #da6128;
}
.main-menu .last a {
  background-color: #8a113e;
  margin-right: 0;
}
.main-menu a {
  color: #fff;
  display: block;
  background-color: #8a113e;
  margin-right: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main-menu a {
    font-size: 0.700em;
  }
}
.main-menu a:hover {
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.main-menu .active-trail a {
  background-color: #fff !important;
  color: #243472;
}
/*
 * Search form
 */
.search .form-inline {
  position: absolute;
  right: 1em;
  top: 1em;
}
.search .form-text {
  height: 24px;
  padding: 3px 5px;
  border: 0;
  border-radius: 0;
}
.search .form-submit {
  font-size: 1.3em;
  background-color: transparent;
  color: transparent;
  box-shadow: none;
  text-shadow: none;
  border: 0;
  padding: 0;
  width: 30px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
.search .glyphicon-search {
  color: #ccc;
  padding: 0 5px;
  position: absolute;
  right: 0;
  top: 5px;
}
@media screen and (max-width: 768px) {
  .search .form-inline {
    position: relative;
    margin-left: 82px;
    margin-right: 20px;
    right: 0;
  }
}
/*
 * Header
 */
.site-name {
  /*.text-hide() mixin */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  border: 0;
  background: transparent;
  margin-top: 0;
}
.social-links {
  float: right;
}
.social-links a {
  display: block;
  /*.text-hide() mixin */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  border: 0;
  background: transparent url(../images/social-sprite.png) 0 0 no-repeat;
  width: 32px;
  height: 32px;
  margin-left: 4px;
}
.social-links a[href*='twitter'] {
  background-position: -32px 0;
}
.social-links a[href*='youtube'] {
  background-position: -64px 0;
}
.social-links a[href*='linkedin'] {
  background-position: -96px 0;
}
.social-links a[href*='pinterest'] {
  background-position: -128px 0;
}
.social-links a[href*='vimeo'] {
  background-position: -160px 0;
}
/*
 *  Footer styles
 */
footer {
  padding-top: 10%;
}
.footer-links {
  background-color: #8D1A3D;
  text-align: center;
}
.footer-links .menu {
  padding: 0;
}
.footer-links a,
.footer-links a:after {
  color: #fff;
  line-height: 4;
}
.footer-links a:after {
  content: "|";
  padding: 0 6px 0 10px;
}
.footer-links .last a:after {
  content: "";
  padding: 0;
}
@media screen and (max-width: 768px) {
  .footer-links {
    text-align: left;
    padding: 20px;
  }
  .footer-links .leaf {
    display: block;
    border-bottom: 1px dotted #fff;
  }
  .footer-links .leaf.last {
    border-bottom: 0;
  }
  .footer-links a {
    display: block;
    line-height: 2.6;
    text-decoration: none;
  }
  .footer-links a:after {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-links a {
    font-size: 0.800em;
  }
}
.view-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*
 * Enable skip-link for screen readers only
 */
#skip-link {
  /* .sr-only() mixin */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/*
 * Ribbons
 */
.search {
  /* Make sure the immediate parent of the ribbons does not have a background applied. */
  position: absolute;
  z-index: 1;
  width: 103%;
  left: -1em;
  top: 0;
}
@media screen and (max-width: 768px) {
  .search {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
  }
}
.search-outer {
  background: #8D1A3D;
  position: relative;
  height: 60px;
}
@media screen and (max-width: 768px) {
  .search-outer {
    height: 50px;
  }
}
.consolidation-news-block{
  background-color: #e9e6e3;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;}

.profile-block .views-field-title, .gpc-picture-block .views-field-title {
  background: #8D1A3D;
  color: #fff;
  font-size: 1.2em;
  position: relative;
  padding: 5px 20px;
  margin: 6px -20px 0;
}
.front-profile-block .views-field-title{
  background: #fff;
  font-size: 1.2em;
  padding: 5px 20px;
 
}

.front-profile-block .views-field-title a {
  color: #8D1A3D !important;
     
}

.gpc-picture-block .views-field-title a {
  color: #fff;
  font-size: 1em;
  
  
}
@media screen and (max-width: 1200px) {
  .profile-block .views-field-title, .gpc-picture-block .views-field-title {
    font-size: 1em;
  }
  .profile-block .views-field-title span, .gpc-picture-block .views-field-title span {
    font-size: 1em;
  }
}
.search-inner:before,
.search-inner:after,
.profile-block .views-field-title span:before,
.profile-block .views-field-title span:after,
.gpc-picture-block .views-field-title span:before,
.gpc-picture-block .views-field-title span:after
{
  background: url('../images/ribbons-large.png') no-repeat left top;
  bottom: -10px;
  content: "";
  height: 22px;
  position: absolute;
  display: block;
  width: 26px;
}
.search-inner:after,
.profile-block .views-field-title span:after,
.gpc-picture-block .views-field-title span:after{
  background-position: right top;
}
@media screen and (max-width: 768px) {
  .search-inner:before,
  .search-inner:after,
  .profile-block .views-field-title span:before,
  .profile-block .views-field-title span:after,
  .gpc-picture-block .views-field-title span:before,
  .gpc-picture-block .views-field-title span:after {
    display: none;
  }
}
.search-inner:before {
  bottom: -22px;
  left: 0;
}
.search-inner:after {
  bottom: -22px;
  right: 0;
}
.profile-block .views-field-title span:before,
.profile-block .views-field-title span:after,
.gpc-picture-block .views-field-title span:before,
.gpc-picture-block .views-field-title span:after
{
  background-image: url('../images/ribbons-small.png');
  height: 10px;
  width: 12px;
}
.profile-block .views-field-title span:before,
.gpc-picture-block .views-field-title span:before{
  left: 0;
}
.profile-block .views-field-title span:after,
.gpc-picture-block .views-field-title span:after{
  background-position: right top;
  right: 0;
}
/* 
 * Primary menus 
 */
.element-invisible {
  display: none;
}
.tabs li {
  /* .btn(), .btn-default() mixins */
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 0.933em;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  text-transform: uppercase;
}
.tabs li.active {
  background-color: #ccc;
}
/*
 * Top Story Block
 */
.top-story-photo-wrapper {
  background-color: #eae6e3;
}
.top-story-photo-wrapper img {
  padding: 10px;
}
.lt-ie9 .top-story-photo-wrapper img {
  width: 632px;
}
@media screen and (max-width: 768px) {
  .lt-ie9 .top-story-photo-wrapper img {
    width: 480px;
  }
}
.view-top-stories .views-field-field-photo-caption {
  color: #000;
  padding: 0 10px 12px 10px;
}

/* Sidebar blocks */
.profile-block, .front-profile-block, .gpc-picture-block {
  background: #e9e6e3;
  padding: 16px 10px 10px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .profile-block, .gpc-picture-block {
    padding-top: 0;
  }
}
.profile-block .views-field-field-photo-caption {
  padding-top: 2px;
  color: #a2a2a2;
}
.profile-block .views-field-body,
.gpc-picture-block .views-field-body,
.kudos-block .views-field-body {
  padding: 14px 0;
}
.profile-block .more-link,
.front-profile-block .more-link,
.gpc-picture-block .more-link,
.kudos-block .more-link {
  float: none;
  text-transform: uppercase;
}
.kudos-block .views-field-field-photo-caption {
  padding-top: 1em;
}
@media (max-width: 768px) {
  .profile-block,.gpc-picture-block {
    padding: 0px 20px 20px;
  }
  .profile-block .views-field-title,
  .gpc-picture-block .views-field-title{
    padding-left: 30px;
    padding-right: 20px;
  }
   .gpc-picture-block .views-field-title a{
	   color: white;
  		font-size: inherit;
  		font-weight: inherit;
  		text-decoration: none;
  }
  
  #block-views-profile_kudos_block-block_2,
  #block-views-profile_kudos_block-block_3 {
    padding: 20px;
    margin-top: 25px;
  }
  #block-webform-client-block-400 h2 {
    padding: 0 20px;
  }
  #block-views-profile_kudos_block-block_1,
  #block-views-profile_kudos_block-block_4,
  #block-webform-client-block-400 {
    padding-left: 0;
    padding-right: 0;
  }
}
#block-views-profile_kudos_block-block_1 .views-field-title a,
#block-views-profile_kudos_block-block_4 .views-field-title a {
  color: white;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}
.publications-slider .view-header a {
  margin-top: -42px;
  text-transform: uppercase;
  font-size: 1.067em;
}
/* Webforms */
.block-webform .content {
  background: #e9e6e3;
  padding: 20px;
}
.block-webform .form-text,
.block-webform textarea {
  border: none;
  display: block;
  width: 100%;
  margin-bottom: 18px;
  padding: 5px 10px;
}
.block-webform label,
.block-webform .form-submit {
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 0;
}
.block-webform .form-actions {
  text-align: center;
}
.block-webform .form-actions input {
  background: #8d1b3c;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 2px 20px 0;
}
.node-type-webform h2 {
  text-align: center;
}
.node-webform .content {
  background: #e9e6e3;
  padding: 20px;
}
.node-type-webform .form-text,
.node-type-webform textarea {
  border: none;
  display: block;
  width: 100%;
  margin-bottom: 18px;
  padding: 5px 10px;
}
.node-type-webform label,
.node-type-webform .form-submit {
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 0;
}
.node-type-webform .form-actions {
  text-align: center;
}
.node-type-webform .form-actions input {
  background: #8d1b3c;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 2px 20px 0;
}
/* webform intro block */
#block-block-8 {
  margin-top: 47px;
}
/* News Release Links */
#block-block-9 h2 {
  display: none;
}
#block-block-9 p {
  border-bottom: 1px solid #000000;
}
#block-block-9 a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
#block-block-9 a:hover {
  color: #95263a;
}
/*
 * Off Canvas Nav Toggle
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
  }
  .row-offcanvas-left {
    left: 0%;
    transition: .4s all ease;
    -moz-transition: .4s all ease;
    -ms-transition: .4s all ease;
    -webkit-transition: .4s all ease;
  }
  .row-offcanvas-left.active {
    left: 60%;
  }
  .sidebar-offcanvas {
    left: -60%;
    position: absolute;
    top: 0;
    width: 60%;
  }
  .sidebar-offcanvas .main-menu .leaf,
  .sidebar-offcanvas .main-menu .expanded {
    display: block;
    float: none !important;
    position: static;
    text-align: left;
    width: 100%;
  }
  .navbar-toggle {
    float: left;
    z-index: 2;
    left: 0;
    top: 0;
    margin: 15px;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 30px;
    height: 4px;
    border-radius: 0;
  }
  .main-menu {
    margin-top: 25px;
    padding: 0 20px;
  }
  .main-menu .leaf {
    text-align: left;
    margin-bottom: 10px;
  }
  .main-menu a {
    line-height: 3.667em;
    margin-right: 0;
    padding: 0 20px;
  }
  .social-links {
    float: none;
  }
  .social-links .menu {
    padding: 0 20px;
    text-align: center;
  }
  .container {
    -webkit-box-shadow: 0px 0px 14px 5px #ccc;
    box-shadow: 0px 0px 14px 5px #ccc;
    border-top: 4px solid #8D1A3D;
  }
}
@media screen and (max-width: 768px) {
  .main-menu a {
    padding: 0 18px;
  }
}
@media screen and (max-width: 480px) {
  .social-links li.leaf {
    display: block;
    float: left;
    margin-bottom: 4px;
  }
  .social-links li.leaf:nth-child(3) {
    clear: right;
  }
  .social-links li.leaf:nth-child(4) {
    clear: left;
  }
}
/*
 * Blocks
 */
#block-views-top_stories-block {
  background: #e9e6e3;
  padding: 10px 20px;
  margin-top: 26px;
}
@media (max-width: 1200px) {
  #block-views-top_stories-block {
    padding: 1px 20px;
  }
}
#block-views-top_stories-block .views-row {
  border-bottom: 1px dotted #000;
}
#block-views-top_stories-block .views-row-last {
  border-bottom: none;
}
#block-views-expert_topics_block-block {
  background: #e9e6e3;
  padding: 10px 30px;
  margin-top: 26px;
}
#block-views-expert_topics_block-block h2 {
  border: none;
  font-size: 1.2em;
}
#block-views-expert_topics_block-block .content {
  padding-left: 20px;
}
#block-views-expert_topics_block-block .views-row,
#block-views-expert_topics_block-block .view-header {
  padding-bottom: 16px;
  text-transform: uppercase;
}
.consolidation-news-block .views-row {
  border-bottom: 1px dotted #000;
  margin: 1em;
  
}
.consolidation-news-block .views-row-last {
 border-bottom: none;
}

@media (max-width: 1200px) {
  #block-views-expert_topics_block-block {
    padding: 1px 10px;
  }
}
#block-views-archive_filter-block {
  background: #e9e6e3;
  padding: 10px 30px;
  margin-top: 26px;
}
#block-views-archive_filter-block h2 {
  border: none;
  font-size: 1.2em;
}
#block-views-archive_filter-block .content {
  padding-left: 20px;
}
#block-views-archive_filter-block .views-row,
#block-views-archive_filter-block .view-header {
  padding-bottom: 16px;
  text-transform: uppercase;
}
#block-views-archive_filter-block .views-row a.active,
#block-views-expert_topics_block-block .views-row a.active {
  color: #000;
}

.consolidation-news-block .views-row {
  border-bottom: 1px dotted #000;
  margin: 1em;
  
}
.consolidation-news-block .views-row-last {
 border-bottom: none;
}

@media (max-width: 1200px) {
  #block-views-archive_filter-block {
    padding: 1px 10px;
  }
}
#block-views-events-block .views-row {
  padding-bottom: 35px;
}
#block-views-events-block .view-header a {
  margin-top: -42px;
  text-transform: uppercase;
  font-size: 1.067em;
}
#block-views-events-block .views-field-title a {
  font-size: 1.2em;
  color: #95263a;
}
#block-views-events-block .views-field-title a:hover {
  color: #000;
}
#block-views-events-block .date-wrapper {
  border: 1px solid #000;
  float: left;
  min-width: 60px;
}
span.date-display-single {
  color: #000;
  display: block;
  font-size: 1.733em;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0;
}
#block-views-events-block .date-wrapper span:first-child {
  color: #fff;
  background-color: #9c001d;
  font-size: 1.200em;
}
#block-views-events-block .views-field-title,
#block-views-events-block .views-field-body {
  margin-left: 76px;
}
@media (max-width: 1024px) {
  #block-views-events-block .date-wrapper span:first-child,
  span.date-display-single {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  #block-views-events-block {
    padding: 20px;
  }
}
#block-views-events-block .view-footer {
  padding-top: 0;
  text-transform: uppercase;
}
#block-views-events-block .view-footer:before {
  content: url(../images/more-arrow.png);
  padding-right: 5px;
}
#block-views-picture_gpc_gallery-block .view-header a {
  margin-top: -42px;
  text-transform: uppercase;
  font-size: 1.067em;
}
#block-views-picture_gpc_gallery-block .views-field-body {
  padding: 20px 0 10px;
}
#block-views-picture_gpc_gallery-block .view-footer {
  padding: 0;
}
#block-views-picture_gpc_gallery-block .view-footer a {
  text-transform: uppercase;
  float: left;
}
/* 
 * News in Brief full listing page
 */
.page-news-in-brief .views-field-field-photo {
  float: left;
  width: 45%;
  margin-right: 20px;
}
.page-news-in-brief .photo-info {
  margin-top: 4px;
  color: #a2a2a2;
  font-size: 0.867em;
}
.page-news-in-brief img {
  padding-bottom: 12px;
}
.page-news-in-brief .view-news-releases .views-row {
  border-bottom: 2px dotted #000;
  padding-bottom: 40px;
  margin-top: 40px;
}
#block-views-news_releases-block_1 {
  /* News-In-Brief block */
  background-color: #eae6e3;
  margin-top: 40px;
  padding: 1px 20px 10px 20px;
}
/* 
 * GPC In the News full listing page
 */
.page-gpc-in-the-news .views-field-field-photo {
  float: left;
  width: 45%;
  margin-right: 20px;
}
.page-gpc-in-the-news .photo-info {
  margin-top: 4px;
  color: #a2a2a2;
  font-size: 0.867em;
}
.page-gpc-in-the-news img {
  padding-bottom: 12px;
}
.page-gpc-in-the-news .view-news-releases .views-row {
  border-bottom: 2px dotted #000;
  padding-bottom: 40px;
  margin-top: 40px;
}
#block-views-news_releases-block_2 {
  /* GPC In the News Block */
  margin-top: 40px;
}
#block-views-news_releases-block_1 .views-field-title a,
#block-views-news_releases-block_2 .views-field-title a {
  color: #95263a;
  font-size: 1.2em;
  line-height: inherit;
  font-weight: inherit;
}
#block-views-news_releases-block_1 .view-header a {
  margin-top: -42px;
  text-transform: uppercase;
  font-size: 1.067em;
}
#block-views-news_releases-block_1 .view-header a:before,
#block-views-news_releases-block_2 .view-header a:before {
  content: "";
}
#block-views-news_releases-block_1 .views-row {
  padding-bottom: 16px;
}
#block-views-news_releases-block_2 .view-header a {
  margin-top: -32px;
  text-transform: uppercase;
  font-size: 1.067em;
}
#block-views-news_releases-block_2 .content {
  margin-top: -10px;
}
#block-views-news_releases-block_2 .views-row {
  border-bottom: 1px dotted #000;
  padding: 10px 0;
}
.block-contacts-team-photo {
  margin-top: 40px;
}
/* Archives page */
.page-archives h3 {
  color: #000;
  padding-top: 20px;
  text-transform: uppercase;
}
.page-archives .views-row {
  padding-bottom: 16px;
}
/* Experts page */
.page-experts h3 {
  clear: both;
  margin-bottom: 40px;
}
.page-experts .wrapper {
  float: left;
  padding-right: 20px;
  width: 30%;
}
.page-experts .wrapper img {
  padding-bottom: 20px;
  margin-top: -30px;
}
.page-experts .wrapper p {
  margin-bottom: 0;
}
.page-experts .views-field-title {
  color: #000;
  font-size: 1.200em;
  padding-bottom: 12px;
  padding-left: 30%;
}
.page-experts .views-field-body {
  padding: 0 0 40px 30%;
}
@media screen and (max-width: 768px) {
  .page-experts .wrapper {
    padding-right: 10px;
  }
  .page-experts .wrapper img {
    margin-top: 0;
  }
  .page-experts .views-field-title {
    padding-left: 0;
  }
}
/*
 *  Picture GPC gallery
 */
.node-type-picture-gpc h2,
.node-type-download-gallery h2,
.node-type-video-gallery h2,
.page-gpc-gallery .title,
.page-download-gallery .title,
.page-videos .title {
  text-align: center;
  padding: 6px 0;
  margin-bottom: 1.6em;
}
.field-name-field-gallery-photo {
  text-align: center;
}
.node-type-picture-gpc .field-name-body,
.node-type-download-gallery .field-name-body,
.node-type-video-gallery .field-name-body {
  padding: 34px 0;
}
.region-content ul.flippy {
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}
.node-type-picture-gpc .flippy li,
.node-type-download-gallery .flippy li,
.node-type-video-gallery .flippy li {
  padding: 0;
}
.node-type-picture-gpc .next,
.node-type-download-gallery .next,
.node-type-video-gallery .next {
  float: right;
  text-align: right;
}
.view-picture-gpc-gallery {
  padding-left: 16px;
}
.view-picture-gpc-gallery .views-row {
  float: left;
  padding-right: 16px;
  padding-bottom: 16px;
  width: 25%;
}
.view-picture-gpc-gallery .views-row:nth-child(4n) {
  clear: right;
}
.view-picture-gpc-gallery .views-row:nth-child(4n + 1) {
  clear: left;
}
.view-picture-gpc-gallery .views-row .views-field-body p {
  font-size: 0.9em;
}
.sidebar-content .view-picture-gpc-gallery .views-row {
  float: none;
  width: 100%;
}
.view-picture-gpc-gallery .view-filters {
  margin-bottom: 40px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .view-picture-gpc-gallery .view-filters {
    position: absolute;
    right: 0;
    top: 10px;
  }
}
.view-picture-gpc-gallery .view-filters .views-exposed-widget {
  padding: .8em 0em 0 0;
}
.view-picture-gpc-gallery .view-filters span {
  display: block;
  overflow: hidden;
  position: relative;
  background: #e9e6e3 url('../images/filter-arrow.png') no-repeat right center;
  background-size: 30px auto;
  border: 1px solid #8f173c;
  color: #000000;
  cursor: pointer;
  font-weight: normal;
  margin: 0;
  padding: 4px 7px;
  text-transform: uppercase;
  min-width: 280px;
}
.view-picture-gpc-gallery .view-filters select {
  display: block;
  width: 100%;
  opacity: 0;
  height: 30px;
  border-radius: 0;
  border: 0;
  position: absolute;
  top: 12px;
  left: 0px;
}
.views-exposed-widget.views-submit-button {
  display: none;
}
.node-video-gallery .iframe-wrapper {
  position: relative;
}
.node-video-gallery .iframe-wrapper .ratio {
  height: auto;
  width: 100%;
}
.node-video-gallery .iframe-wrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.back-link {
  position: absolute;
  top: 25px;
}
.back-link:before {
  content: url('../images/back-arrow.png');
  padding-right: 5px;
}
@media screen and (max-width: 1024px) {
  .back-link {
    top: 13px;
  }
}
@media screen and (max-width: 768px) {
  .back-link {
    display: block;
    margin-bottom: 1em;
    position: static;
  }
}
.flippy .prev:before {
  content: url('../images/back-arrow.png');
  padding-right: 5px;
}
.flippy .next:after {
  content: url(../images/more-arrow.png);
  padding-left: 5px;
}
.publications-slider .node-block {
  background-color: #e9e6e3;
  height: 264px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.publications-slider .node-block div {
  transition: 0.4s margin ease;
  -moz-transition: 0.4s margin ease;
  -ms-transition: 0.4s margin ease;
  -webkit-transition: 0.4s margin ease;
  left: 0;
  padding: 20px 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.publications-slider .node-block img {
  display: block;
  margin: 0 auto;
}
.publications-slider .node-block a.next {
  background: url("../images/pub-arrow.png") no-repeat left top;
  display: block;
  height: 55px;
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  width: 29px;
  white-space: nowrap;
  margin-top: -22px;
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 10;
}
.media-wrapper .field {
  position: relative;
}
.media-wrapper .field .ratio {
  height: auto;
  width: 100%;
}
.media-wrapper .field iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.media-wrapper .field-name-field-photo {
  text-align: left;
}
.media-wrapper .field-name-field-photo img {
  height: auto;
  margin: 0;
  max-height: 600px;
  max-width: 100%;
  width: auto;
}
.media-wrapper .field-name-field-photo p {
  text-align: left;
  margin-top: 10px;
}
.media-wrapper.slider {
  transition: 0.4s height ease;
  -moz-transition: 0.4s height ease;
  -ms-transition: 0.4s height ease;
  -webkit-transition: 0.4s height ease;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.media-wrapper.slider a.prev,
.media-wrapper.slider a.next {
  background: url('../images/slider-arrows.png') no-repeat left top;
  display: block;
  height: 52px;
  left: 2%;
  margin-top: -26px;
  opacity: 0.5;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  top: 50%;
  white-space: nowrap;
  width: 27px;
  z-index: 10;
}
.media-wrapper.slider a.prev:hover,
.media-wrapper.slider a.next:hover {
  opacity: 1;
}
.media-wrapper.slider a.next {
  background-position: right top;
  left: auto;
  right: 2%;
}
.media-wrapper.slider:hover a.prev,
.media-wrapper.slider:hover a.next {
  opacity: 1;
}
.media-wrapper.slider .field-name-field-photo {
  text-align: center;
}
.media-wrapper.slider .field-name-field-photo img {
  margin: 0 auto;
}
.media-wrapper.slider .field-name-field-photo p {
  text-align: left;
}
.media-wrapper.slider .slider-wrapper {
  transition: 0.4s left ease;
  -moz-transition: 0.4s left ease;
  -ms-transition: 0.4s left ease;
  -webkit-transition: 0.4s left ease;
  left: 0;
  position: relative;
  width: 10000px;
}
.media-wrapper.slider .slider-wrapper .field {
  float: left;
  width: auto;
}
#main-content .drop-filter {
  display: none;
  margin-bottom: 30px;
}
#main-content .drop-filter h3 {
  border-bottom: 0;
  font-size: 1em;
  margin-bottom: 10px;
}
#main-content .drop-filter .selector {
  position: relative;
}
#main-content .drop-filter .selector h4 {
  background: #e9e6e3 url('../images/filter-arrow.png') no-repeat right center;
  background-size: 30px auto;
  border: 1px solid #8a113e;
  color: #000;
  cursor: pointer;
  font-weight: normal;
  margin: 0;
  padding: 4px 7px;
  text-transform: uppercase;
}
#main-content .drop-filter .selector ul {
  background-color: #e9e6e3;
  border: 1px solid #8a113e;
  border-top: 0;
  display: none;
  left: 0;
  margin: 0;
  padding: 15px;
  position: absolute;
  top: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #main-content .drop-filter {
    display: block;
  }
  #block-views-expert_topics_block-block,
  #block-views-archive_filter-block {
    display: none;
  }
}
.page-search #page-title {
  margin-top: 20px;
  font-size: 1.46666667em;
}
@media screen and (max-width: 768px) {
  .page-search #page-title {
    font-size: 1.2em;
  }
}
.page-search .pager {
  text-transform: uppercase;
}
.page-search .pager a {
  border: 0;
}
.page-search .pager a:hover {
  background: none;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .page-search .pager {
    font-size: 0.8em;
  }
}
.page-search .pager .pager-first,
.page-search .pager .pager-last {
  display: none;
}
.page-search .pager .pager-previous:before {
  content: url('../images/back-arrow.png');
}
.page-search .pager .pager-next:after {
  content: url(../images/more-arrow.png);
}
.page-search .pager .pager-current {
  padding: 5px 14px;
}
.search-form .form-wrapper {
  float: right;
  margin-top: -70px;
}
@media screen and (max-width: 768px) {
  .search-form .form-wrapper {
    display: none;
  }
}
.search-form .form-item-keys {
  display: inline;
}
.search-form .form-text {
  width: 168px;
  margin: 0 4px;
}
.search-form .form-submit {
  background-color: #8f173c;
  border: none;
  color: #ffffff;
  padding: 3px 16px;
}
.search-form label {
  font-weight: 300;
}
#block-gpcnews_custom-expert_search .form-text {
  width: 66%;
  margin: 0;
}
.search-results {
  padding: 0;
}
.search-results li {
  list-style-type: none;
  margin-top: 40px;
}
.search-results h3 {
  font-size: 22px;
  font-weight: 300;
  margin: 4px 0;
}
@media screen and (max-width: 768px) {
  .search-results h3 {
    font-size: 1.2em;
  }
}
.search-results .search-info {
  font-size: 1.06666667em;
}
@media screen and (max-width: 768px) {
  .search-results .search-info {
    font-size: 0.8em;
  }
}
.search-results .search-snippet {
  font-size: 1.13333333em;
}
@media screen and (max-width: 768px) {
  .search-results .search-snippet {
    font-size: 0.93333333em;
  }
}
.search-results .more-link {
  float: none;
}
.search-results .more-link a {
  font-size: 1.06666667em;
}
@media (max-width: 768px) {
  .search-results .more-link a {
    font-size: 0.8em;
  }
}
